<?xml version="1.0" encoding="UTF-8"?>
<plugin 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" id="curbside-cordova" version="3.5.5">
    <name>Cordova Plugin Template</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/curbside/curbside-cordova.git</repo>
    <issue>https://github.com/curbside/curbside-cordova.git/issues</issue>
    <engines>
        <engine name="cordova-ios" version=">=4.1.1" />
    </engines>
    <dependency id="cordova-promise-polyfill"></dependency>
    <!-- android -->
    <platform name="android">
        <js-module src="www/plugin.js" name="curbside">
            <runs/>
            <clobbers target="Curbside" />
        </js-module>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-feature android:name="android.hardware.location.gps" />
        </config-file>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CurbsideCordovaPlugin">
                <param name="android-package" value="com.curbside.CurbsideCordovaPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <source-file src="src/android/com/curbside/CurbsideCordovaPlugin.java" target-dir="src/com/curbside/" />
        <framework src='com.curbside:sdk:3.4'  />
        <framework src='joda-time:joda-time:2.4'  />
        <framework src='com.google.android.gms:play-services-analytics:17.0.0'  />
        <framework src='com.google.android.gms:play-services-gcm:17.0.0'  />
        <framework src='com.google.android.gms:play-services-location:17.0.0'  />
        <framework src='com.google.android.gms:play-services-maps:17.0.0'  />
        <framework src='com.google.firebase:firebase-core:17.0.0'  />
        <framework src='com.google.firebase:firebase-messaging:17.0.0'  />
    </platform>
    <!-- ios -->
    <platform name="ios">
        <preference name="LOCATION_ALWAYS_AND_WHEN_IN_USE_USAGE_DESCRIPTION" default="The app uses your location to help the store prepare for your arrival when you have an open order." />
        <preference name="LOCATION_WHEN_IN_USE_DESCRIPTION" default="The app uses your location to help the store prepare for your arrival when you have an open order."/>
        <preference name="LOCATION_USAGE_DESCRIPTION" default="The app uses your location to help the store prepare for your arrival when you have an open order." />
        <js-module src="www/plugin.js" name="curbside">
            <runs/>
            <clobbers target="Curbside" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="CurbsideCordovaPlugin">
                <param name="ios-package" value="CurbsideCordovaPlugin" onload="true" />
            </feature>
        </config-file>
        <config-file target="*-Info.plist" parent="NSLocationAlwaysAndWhenInUseUsageDescription">
            <string>$LOCATION_ALWAYS_AND_WHEN_IN_USE_USAGE_DESCRIPTION</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string>$LOCATION_WHEN_IN_USE_DESCRIPTION</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSLocationUsageDescription">
            <string>$LOCATION_USAGE_DESCRIPTION</string>
        </config-file>
        <header-file src="src/ios/CurbsideCordovaPlugin.h" />
        <source-file src="src/ios/CurbsideCordovaPlugin.m" />
        <framework src="Curbside" type="podspec" spec="~> 3.51" />
    </platform>
</plugin>